@{
    ViewData["Title"] = "Unesi Party Kod";
}

<h2>Unesi DJ-ev Party Kod</h2>

<form asp-action="EnterCode" method="post">
    <label>Party Kod:</label>
    <input name="partyCode" required />
    <button type="submit">Nastavi</button>
</form>
